body {
  background-color: #f9f9f9;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  box-sizing: border-box;
  height: 70px;
  background-color: #2185D0;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.App-sidebar {
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #1B1C1D;
  color: white;
  z-index: 1;
}

.App-sidebar a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.App-sidebar a:hover {
  opacity: 1;
}

.App-content {
  position: absolute;
  top: 76px;
  padding-top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  z-index: 0;
  margin-left: 70px;
}

.App-content-header {
  background-color: #ffffff;
  margin: -20px;
  padding: 20px;
  padding-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e5e6;
  padding-left: 90px;
}

.App-content-header h1 {
  float: left;
}

.ui.table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
